.tHead {
  font-weight: bolder;
  font-size: 1.8rem;
  color: white;
  padding: 0px;
  margin: 0px;
}
.tData {
  color: white;
  font-size: 1.4rem;
  padding: 0px;
  margin: 0px;
}

.orderBtn {
  text-decoration: none;
  border-radius: 25px;
  padding: 10px 15px;
  margin-left: 5px;
  min-width: 150px;
  background-color: #FFCC63;
  color: white;
  font-weight: bold;
  border: 3px solid #FFCC63;
}
.orderBtn p {
  font-size: 1.4em;
  margin: 0;
  padding: 0%;
}
.orderBtn:hover {
  background-color: transparent;
  color: #FFCC63;
}
.orderTotal {
  font-weight: bold;
  margin-top: 10px;
  font-size: 1.4rem;
  color: white;
  text-align: end;
}

.tableHeading {
  font-size: 1.8em;
  font-weight: bold;
  color: white;
  text-decoration: underline solid #FFCC63;
  text-underline-position: under;
  
}
